{% extends 'base.html' %} {% block title %}sign in{% endblock title %} 
{% block body %}

    <h2 class = "my-4 text-2xl"> Login </h2>

    <form action="" method="post" class = "flex flex-col gap-4 p-4  hover:drop-shadow  ">
		{% csrf_token %} 
        {{form.as_p}}
		<button
			type="submit"
			class="px-8 py-2 col-span-full bg-teal-400 rounded-lg text-white"
		>
			Log In
		</button>
	</form>

<script>
	const element = document.querySelector("#login");
	element.classList.add("active");
</script>
{% endblock body %}
