{% extends 'base.html' %} {% load static %} 
{% block title %}{{title}} Lead {% endblock title %} 

{% block body %}
<div class="p-6 my-2">
    {% if team.plan.max_leads > team.leads_team.count or title == "Edit" %}

    <h1 class="text-3xl my-2">{{title}} Lead</h1>
    <form action="" method="post" class = "flex flex-col gap-4 p-4 border drop-shadow  ">
        {% csrf_token %} {{form.as_p}}
        <button
            type="submit"
            class="px-4 py-2 bg-teal-400 rounded-lg text-white"
        >
            submit
        </button>
    </form>
    {% else %}
    <div class="px-6 py-4 bg-red-500 rounded-xl text-white">
        You Have Reached Your Limit
    </div>

    {% endif %}
</div>
<script src="{% static 'js/leads.js' %}"></script>
{% endblock body %}
