{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css\dist\main.css' %}">
    <link rel="shortcut icon" href="{% static 'imgs/_b6d60d51-22df-46ef-83ad-1b243e3035fa.jpg' %}" type="image/x-icon">
</head>

<body>
    <aside class="fixed top-0 left-0 z-40 w-64 h-screen transition-transform  " aria-label="Sidebar">
        <div class="h-full px-3 py-4 overflow-y-auto bg-gray-50 ">
            <div class="flex items-center justify-between mt-6">
                <a href="/" class="flex gap-2 items-center ">
                    <img src="{% static 'imgs/_b6d60d51-22df-46ef-83ad-1b243e3035fa.jpg' %}" alt=""
                        class="block w-8 h-8 object-cover ">
                    <h2>Teal CRM </h2>
                </a>
                <div class="hidden pr-4" id="close-btn ">
                    <span class="material-icons-sharp">
                        close
                    </span>
                </div>
            </div>

            <!-- Side Bar -->
            <div
                class="sidebar flex flex-col bg-white rounded-2xl relative h-5/6 top-6 transition-all duration-300 easee shadow-lg hover:shadow-none">

                <a id = "about" href="{% url 'about' %}"
                    class="flex items-center h-14 gap-4 ml-8 relative text-stone-800 transition-all duration-300 ease hover:text-sky-400"
                    id="About">
                    <span class="material-icons-sharp transition-all duration-300  ease">
                        info
                    </span>
                    <h3>About Us </h3>
                </a>
                {% if request.user.is_authenticated %}
                <a id="dashboard" href="{% url 'dashboard:' %}"
                    class="flex items-center h-14 gap-4 ml-8 relative text-stone-800 transition-all duration-300 ease hover:text-sky-400">
                    <span class="material-icons-sharp transition-all duration-300  ease">
                        dashboard
                    </span>
                    <h3>Dashboard</h3>
                </a>
                <a id = "leads" href="{% url 'leads:list' %}"
                    class="flex items-center h-14 gap-4 ml-8 relative text-stone-800 transition-all duration-300 ease  hover:text-sky-400">
                    <span class="material-icons-sharp transition-all duration-300 ease">
                        support_agent
                    </span>
                    <h3>Leads </h3>
                </a>
                <a id = "clients" href="{% url 'client:list' %}"
                    class="flex items-center h-14 gap-4 ml-8 relative text-stone-800 transition-all duration-300 ease  hover:text-sky-400">
                    <span class="material-icons-sharp transition-all duration-300 ease">
                        people
                    </span>
                    <h3 class>Clients</h3>
                </a>
                <a id = "account" href="{% url 'my-account' %}"
                class="flex items-center h-14 gap-4 ml-8 relative text-stone-800 transition-all duration-300 ease hover:text-sky-400 ">
                <span class="material-icons-sharp transition-all duration-300 ease">
                    account_circle
                </span>
                <h3>Account</h3>
            </a>
            
            {% if request.user.is_superuser %}
            <a href="/admin"
                class="flex items-center h-14 gap-4 ml-8 relative text-stone-800 transition-all duration-300 ease  hover:text-cyan-400">
                <span class="material-icons-sharp transition-all duration-300 ease">
                    admin_panel_settings
                </span>
                <h3 class>Admin</h3>
            </a>
            {% endif %}

                <a href="{% url 'logout' %}"
                    class="flex items-center h-14 gap-4 ml-8 absolute bottom-4 w-full text-stone-800 transition-all duration-300 ease hover:text-red-600 ">
                    <span class="material-icons-sharp transition-all duration-300 ease">
                        logout
                    </span>
                    <h3>LogOut</h3>
                </a>

                {% else %}
                <a id = "login" href="{% url 'login' %}"
                    class="flex items-center h-14 gap-4 ml-8  text-stone-800 transition duration-300 ease  bg-sky hover:text-sky-400">
                    <span class="material-icons-sharp transition-all duration-300 ease">
                        login
                    </span>
                    <h3>Login</h3>
                </a>
                <a id="signup" href="{% url 'signup' %}"
                    class="flex items-center h-14 gap-4 ml-8 relative text-stone-800 transition duration-300 ease  hover:text-sky-400">
                    <span class="material-icons-sharp transition-all duration-300 ease">
                        person_add_alt_1
                    </span>
                    <h3>Signup</h3>
                </a>

                {% endif %}
            </div>
        </div>
        </div>
    </aside>

    <main class="p-4 md:ml-64 h-full my-8">
        
            {% if messages %}
            <div class="msg px-6 py-6">
                {% for message in messages  %}
                <div class="px-4 py-4 bg-teal-300 rounded-xl">
                    {{message}}
                </div>
                {% endfor %}
            </div>
            {% endif %}
            {% block body %}{% endblock body %}
    </main>

    <footer class="p-9 text-center bg-gray-200 text-gray-700">
        <div>
            CopyWrite (c) 2022
        </div>
    </footer>
    <script src="{% static 'js/main.js' %}"></script>

</body>

</html>